<% content_for :container_classes, 'o-container--narrow' %>

<h1 class="c-text c-text__title">Reset Password</h1>

<%= form_with @user, :url => password_reset_path(params[:id]), class: 'c-form' do |f| %>
  <ol class="c-form_fields">
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= f.password_field :password, placeholder: "new password", class: 'c-input' %> 
    </li>
    <li class="o-grid o-grid--column c-form_fields__item">
      <%= f.submit 'Update password', class: 'c-button c-button-submit' %>
    </li>
  </ol>
<% end %>