
.e-button {
  width: 100%;
  border: 0;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

.e-button-submit {
  background-color: #2b394a;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}