
.e-link {
  text-decoration: none;
  color: white;
}

.e-link-nav {
  padding: 32px;
  text-align: center;
}

.e-link-forgot-password {
  padding-top: 16px;
  color: #2b394a;
}

.e-link-list {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

.e-link-image {
  display: flex;
  justify-content: center;
  align-items: center;  
  cursor: pointer;
  background-size: cover;
}

.e-link-image-edit {
  position: absolute;
  height: 34px;
  width: 34px;
  border-radius: 20px;
  margin-left: 5px;
  background-color: #f5f5f5;
}

.e-link-image-edit-animation {
  transition-property: margin-left;
  transition-duration: 0.5s;
}

