
.e-link {
  text-decoration: none;
  color: white;
}

.e-link-nav {
  padding: 32px;
  text-align: center;
}

.e-link-forgot-password {
  padding-top: 16px;
  color: #2b394a;
}

.e-link-list {
  padding: 20px 20px;
  text-align: center;
  text-decoration: none;
  border: 1px solid;
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 10px 20px;
}