
.edit-buttons {
  display: flex;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    margin-left: 5px;
    position: absolute;
    cursor: pointer;
    background-color: #f5f5f5;

    img {
      height: 30px;
      width: 30px;
    }
  }

  .animation {
    transition-property: margin-left;
    transition-duration: 0.5s;
  }

  .last-button {
    background-size: cover;
  }
  .right-arrow { background-image: image_url("right-arrow-icon.png") }
  .left-arrow  { background-image: image_url("left-arrow-icon.png") }
}