@import 'tools';

.u--hidden {
  display: none;
}

.u--salmon {
  background: $dark;
}

.u--blue {
  background-color: $heavy;
}

.u-margin-right-4 {
  margin-right: 4px;
}

.u-margin-right-8 {
  margin-right: 8px;
}

.u-margin-left-4 {
  margin-left: 4px;
}

.u-width--all {
  width: 100%;
}

.u-padding--0 {
  padding: 0;
}

.u-padding--24 {
  padding: 24px;
}