.u--hidden {
  display: none;
}

.u--salmon {
  background: #ffa8a8;
}

.u--blue {
  background-color: #aaaaff;
}

.u-margin--4 {
  margin: 4px;
}

.u--margin-right-4 {
  margin-right: 4px;
}

.u--margin-left-4 {
  margin-left: 4px;
}

.u-width--all {
  width: 100%;
}

.u-padding--0 {
  padding: 0;
}