@import 'tools';

.o-container {
  width: 100%;
  margin: 0 auto;
}

.o-container--narrow {
  max-width: 800px;
}

@media only screen and (max-width: 800px) {
  .o-container--narrow {
    max-width: 80%;
  }
}

.o-container--medium {
  max-width: 80%;
}

.o-container__logo {
  display: flex;
}