.o-grid {
  display: flex;
  flex-wrap: wrap;
}

.o-grid--justify-end {
  justify-content: end;
}

.o-grid--justify-center {
  justify-content: center;
}

.o-grid--column {
  flex-direction: column;
}