
.o-wrapper-cheatsheets, .o-wrapper-groups {
  display: flex;
}

.o-wrapper-scenario {
  display: flex;
  padding: 24px;
  margin: 8px;
  border-radius: 4px;
}

.o-wrapper-scenario-buttons-edit {
  display: flex;
}
