
.o-wrapper-cheatsheets, .o-wrapper-groups {
  display: flex;
}

.o-wrapper-scenario {
  display: flex;
  width: 100%;
  padding: 24px;
  margin: 8px;
  border-radius: 4px;

  &:hover {
    .o-container-scenario-edit-buttons {
      display: flex;
    }
  }
}

.o-wrapper-scenario-buttons-edit {
  display: flex;
}
