<h1 class="e-title">Edit Cheatsheet</h1>

<%= form_with model: @cheatsheet, method: :patch, local: true, class: 'e-form e-form-insert' do |form| %>
  <%= form.text_field :name, class: 'e-input' %>
  <%= form.submit "Update Cheatsheet", class: 'e-button e-button-submit' %>
<% end %>

