
<% @cheatsheets.each do |cheatsheet| %>
  <div><%= cheatsheet.name %><%= link_to 'link', cheatsheet_path(cheatsheet) %></div>
<% end %>


<%= button_to "Create New", '/cheatsheets/new', method: :get%>


