<h1>List of cheatsheets</h1>

<%= button_to "Create New", '/cheatsheets/new', method: :get%>

<% if @cheatsheets.empty? %>
  <p>You haven't created any yet</p>
<% else %>
  <div class="cheatsheet-index">
    <ul>
      <% @cheatsheets.each do |cheatsheet| %>
        <li>
          <div class="list">
            <%= link_to cheatsheet.name, cheatsheet_path(cheatsheet), class: 'cheatsheet' %>
            <%= render 'logged/shared/edit/buttons', locals: {
              object: cheatsheet,
              edit_path: edit_cheatsheet_path(cheatsheet),
              delete_path: cheatsheet_path(cheatsheet) } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


