<h1>List of cheatsheets</h1>

<% if @cheatsheets.empty? %>
  <p>You haven't created any yet</p>
<% else %>
  <div class="cheatsheet-index">
    <ul>
      <% @cheatsheets.each do |cheatsheet| %>
        <li><%= link_to cheatsheet.name, cheatsheet_path(cheatsheet) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= button_to "Create New", '/cheatsheets/new', method: :get%>


