<h1>List of cheatsheets</h1>

<div class="o-container-cheatsheets">
  <%= link_to "Create New Cheatsheet", '/cheatsheets/new', method: :get, class: 'e-button e-button-submit' %>

  <% if @cheatsheets.empty? %>
    <p>You haven't created any yet</p>
  <% else %>
    <ul class="e-unordered-list">
      <% @cheatsheets.each do |cheatsheet| %>
        <li class="e-list-item">
          <div class="o-wrapper-cheatsheets">
            <%= link_to cheatsheet.name, cheatsheet_path(cheatsheet), class: 'e-link-list' %>
            <%= render 'logged/shared/edit/buttons', locals: {
              object: cheatsheet,
              edit_path: edit_cheatsheet_path(cheatsheet),
              delete_path: cheatsheet_path(cheatsheet) } %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>


