<h1>List of cheatsheets</h1>

<% if @cheatsheets.empty? %>
  <p>You haven't created any yet</p>
<% else %>
  <div class="cheatsheet-index">
    <ul>
      <% @cheatsheets.each do |cheatsheet| %>
        <li>
          <div class="list">
            <%= link_to cheatsheet.name, cheatsheet_path(cheatsheet), class: 'cheatsheet' %>
            <%# <%= link_to image_tag('delete-icon.png'), cheatsheet_path(cheatsheet), method: :delete %>
            <%= render 'logged/shared/edit/buttons', locals: { object: cheatsheet } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= button_to "Create New", '/cheatsheets/new', method: :get%>


