<h1 class="e-title">create a new cheatsheet</h1>
<%= form_with model: @cheatsheet, class: 'e-form e-form-insert' do |form| %>
  <%= form.text_field :name, class: 'e-input' %>
  <%= form.submit "Create Cheatsheet", class: 'e-button e-button-submit' %>
<% end %>




