<h1 class="e-title e-title-1">Choose a group or create a new one</h1>

<div class="o-container-groups">
  <%= link_to "Create New Group", '/groups/new', method: :get, class: 'e-button e-button-submit' %>

  <% if @groups.empty? %>
    <p>You haven't created any yet</p>
  <% else %>
    <ul class="e-unordered-list">
      <% @groups.each do |group| %>
        <li class="e-list-item">
          <div class="o-wrapper-groups">
            <% if group.cheatsheets.empty? %>
              <%= link_to group.name, '#', class: 'e-link-list' %>
            <% else%>
              <%= link_to group.name, [group, group.cheatsheets.first], class: 'e-link-list' %>
            <% end%>
            <%= render 'logged/shared/edit/buttons', locals: {
              object: group,
              edit_path: edit_group_path(group),
              delete_path: group_path(group) } %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>




