<h1>Choose a group or create a new one</h1>

<%= button_to "Create New Group", '/groups/new', method: :get%>

<% if @groups.empty? %>
  <p>You haven't created any yet</p>
<% else %>
  <div class="group-index">
    <ul>
      <% @groups.each do |group| %>
        <li>
          <div class="list">
            <%= link_to group.name, group_path(group), class: 'group' %>
            <%= render 'logged/shared/edit/buttons', locals: { object: group } %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>




