


<% if @group %>
  <%= @group.name %>
  <% if @cheatsheets.any? %>
    <%= form_with model: @group, method: :patch, local: true do |form| %>
      <%= collection_check_boxes(:group, :cheatsheet_ids, @cheatsheets, :id, :name) %>
      <%= form.submit "Update cheatsheets for Group" %>
    <% end %>
  <% else %>
    <p>You haven't created any cheatsheet yet</p>
  <% end %>
<% end %>