<div class='o-wrapper-scenario u-padding--0'>
  <div class='o-container-scenario-item'>
    <p class='e-text-scenario-content'>
       <%= local_assigns[:scenario].content %>
    </p> 
    <% unless local_assigns[:scenario].example.empty? %>  
      <%= local_assigns[:scenario].example %>
    <% end %>
  </div>
  <div class='o-container-scenario-edit-buttons'>
    <%= yield %>
  </div>
</div>