
<div class='scenario'>
  <div class='data'>
    <div class='content'>
       <%= local_assigns[:scenario].content %>
    </div> 
    <% unless local_assigns[:scenario].example.empty? %>  
      <%= local_assigns[:scenario].example %>
    <% end %>
  </div>
  <div class='edit'>
    <%= yield %>
    <%= image_tag('drag-icon.png') %>
  </div>
</div>