<div data-edit-scenario-target="showingScenarioWrapper" class='o-container o-grid o-grid--no-wrap c-card'>
  <div class='o-grid o-grid--column c-card__fields u-width--100'>
    <p class='c-card__field'>
       <%= local_assigns[:scenario].content %>
    </p> 
    <% unless local_assigns[:scenario].example.empty? %>  
      <div class="c-card__field">
        <%= local_assigns[:scenario].example %>
      </div>
    <% end %>
  </div>
  <div class='c-card__edit-buttons u-display__none'>
    <%= yield %>
  </div>
</div>