@import 'tools';

.c-button {
  width: 100%;
  border: 0;
  border-radius: rythm(1);
  padding: rythm(2);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: rythm(2);
}

.c-button-submit {
  background-color: $middle;
  color: $lightest;
}