@import 'tools';

.c-image__logo {
  height: rythm(10);
  width: rythm(8);
}

.c-image__logo--big {
  height: rythm(30);
  width: rythm(24);
  margin-top: rythm(2);
}

.c-images-edit {
  display: flex;
  align-items: center;
  margin-left: rythm(1);

  .c-link {
    display: flex;
    align-items: center;
  }

  .c-images-edit__image--animation {
    position: absolute;
  }
}

.c-images-edit__image {
  height: rythm(4);
  width: rythm(4);
  background-repeat: no-repeat;
  background-size: contain;
}

.c-image {
  background-repeat: no-repeat;
  background-size: contain;
}

.c-image__add-scenario {
  position: fixed;
  right: rythm(1);
  height: rythm(8);
  width: rythm(8);
  bottom: rythm(1);
}

.c-images-edit__image--small {
  height: rythm(3);
  width: rythm(3);
}

.c-images-edit__image--animation {
  transition-property: margin-left;
  transition-duration: 0.5s;
}
