@import 'tools';

.c-image__logo {
  height: rythm(10);
  width: rythm(9);
}

.c-images-edit {
  display: flex;
  align-items: center;

  .c-link {
    display: flex;
    align-items: center;
  }
}

.c-images-edit {
  margin-left: rythm(1);
}

.c-images-edit__image {
  height: rythm(4);
  width: rythm(4);
  background-repeat: no-repeat;
  background-size: contain;
}

.c-images-edit__image--small {
  height: rythm(3);
  width: rythm(3);
}

.c-images-edit__image--animation {
  transition-property: margin-left;
  transition-duration: 0.5s;
}
