@import 'tools';

.c-link {
  cursor: pointer;
  text-decoration: none;
  color: $lightest;
}

.c-link-nav {
  padding: rythm(4);
  text-align: center;
}

.c-link__password-recovery {
  color: $dark;
}

.c-link__list {
  padding: rythm(2);
  color: $dark;
  background-color: $lightest;
  border-radius: rythm(1);
  margin-bottom: rythm(1);
  min-width: rythm(40)
}

.c-link__list--left-arrow {
  background-image: image_url("left-arrow-icon.png")
}

.c-link__list--right-arrow {
  background-image: image_url("right-arrow-icon.png")
}

