@import 'tools';

.c-link {
  text-decoration: none;
  color: $lightest;
}

.c-link-nav {
  padding: rythm(4);
  text-align: center;
}

.c-link__password-recovery {
  color: $dark;
}

.e-link-image-edit-animation {
  transition-property: margin-left;
  transition-duration: 0.5s;
}

