@import 'tools';

.c-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: rythm(2);
  background-color: $heavy;
}

.e-nav-cheatsheet-change {
  background-color: transparent;
}