@import 'tools';

.c-text {
  text-align: center;
}

.c-text__user_name {
  position: absolute;
  right: rythm(0);
}

.c-text__title {
  padding: rythm(8) rythm(0) rythm(8) rythm(0);
}

.e-text-scenario-content {
  padding: rythm(1);
}