
 @import 'tools';
 
 html, body {
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: $dark;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  background-color: $light;
  padding-bottom: 16px;
}

.trix-content {
  overflow-wrap: break-word;
  border: 0;
  border-radius: 4px;
  padding: 20px;
  background-color: rgb(241, 241, 241);
}