
 html, body {
  height: 100%;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  color: #2b394a;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
}

.trix-content {
  border: 0;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  background-color: rgb(241, 241, 241);
  margin-top: 15px;
}