
.scenario {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 500px;
  margin: 0 20px 0 0;

  &:hover {
    .edit {
      display: flex;
    }
  }


  .data {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border: 0;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    background-color: white;

    .trix-content {
      border: 0;
      border-radius: 0 0 5px 5px;
      padding: 20px;
      background-color: rgb(241, 241, 241);
      margin-top: 15px;
    }
  }

  .edit {
    display: none;
    flex-direction: column;

    input[type="image"], img {
      margin: 30px 0 0 10px;
      height: 30px;
      cursor: pointer;
    }

    img {
      cursor: grab
    }
  }
}