<div class="top_bar">
  <img src="https://people.eecs.berkeley.edu/~job/Classes/CS184/Spring-2015-Slides/06-RayTracing.key/Data/a-small-215.png" />
  <div class="login_buttons">
    <%= button_to "Login", '/login', method: :get%>
    <%= button_to "Sign Up", '/users/new', method: :get%>
  </div>
</div>